<!doctype html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/">
    <link rel="stylesheet" type="text/css" href="css/<%= css %>?v=<%= version %>" />
    <!--[if lt IE 9]>
      <script type="text/javascript" src="js/<%= ie %>?v=<%= version %>"></script>
    <![endif]-->
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <div id="root"></div>
    <script type="text/javascript" src="js/<%= js %>?v=<%= version %>"></script>
  </body>
</html>